:host { 
  display: contents; 
}
.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.contact-navbar {
  width: 1151px;
  height: 72px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 1px;
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: #670c0c;
}
.contact-logo {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.contact-text {
  font-size: 20px;
}
.contact-desktop-menu {
  display: flex;
}
.contact-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  width: 289px;
  height: 22px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-navlink {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 23px;
  text-decoration: none;
}
.contact-navlink1 {
  color: rgb(255, 255, 255);
  width: 66px;
  height: 22px;
  text-decoration: none;
}
.contact-navlink2 {
  color: rgb(255, 255, 255);
  width: 66px;
  height: 22px;
  text-decoration: none;
}


.contact-btn-group {
  gap: var(--dl-space-space-fourunits);
  width: 299px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-view {
  border-radius: var(--dl-radius-radius-radius8);
}
.contact-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.contact-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.contact-login {
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon-group {
  display: flex;
}
.contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-header {
  color: rgb(255, 255, 255);
  width: 1155px;
  height: 1304px;
  font-size: 24px;
  line-height: 27px;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 3px;
  padding-right: 22px;
  background-color: rgb(32, 36, 36);
}


.contact-text15 {
  font-size: 16px;
}
.contact-text16 {
  font-size: 17px;
}
.contact-text17 {
  font-size: 17px;
  text-decoration: underline;
}
.contact-text18 {
  color: #8ea220;
  font-size: 17px;
  text-decoration: underline;
}
.contact-text19 {
  color: #8ea220;
  font-size: 17px;
  text-decoration: underline;
}
.contact-text20 {
  color: #8ea220;
  font-size: 17px;
  text-decoration: underline;
}
.contact-text21 {
  color: #8ea220;
  font-size: 17px;
  text-decoration: underline;
}
.contact-text22 {
  font-size: 17px;
  text-decoration: underline;
}
.contact-text23 {
  font-size: 17px;
}
.contact-text24 {
  font-size: 20px;
}
.contact-text30 {
  text-decoration: underline;
}
.contact-text37 {
  color: var(--dl-color-success-700);
}
.contact-text43 {
  color: var(--dl-color-success-700);
}
.contact-text51 {
  color: var(--dl-color-success-700);
}
.contact-text56 {
  color: var(--dl-color-success-700);
}
.contact-text63 {
  color: var(--dl-color-success-700);
}
.contact-text68 {
  color: var(--dl-color-success-700);
}
.contact-text74 {
  color: var(--dl-color-success-700);
}
@media(max-width: 991px) {
  .contact-desktop-menu {
    display: none;
  }
  .contact-btn-group {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
  }
  .contact-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .contact-logo1 {
    color: #000000;
  }
}
@media(max-width: 767px) {
  .contact-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-header {
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 479px) {
  .contact-navbar {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu {
    padding: 16px;
  }
}
