<div class="p-4 rounded shadow-sm bg-light border mx-5 mt-5 mb-3">
    <a class="nav-link" routerLink="/problem/{{pb.id}}" routerLinkActive="active"
    style="color:blue;font-weight: bold;">{{pb.title}}</a>
    <p class="mt-2" style="font-weight: 500;">{{pb.description}}</p> 
</div>
<div class="text-center mb-3" *ngIf="flag">
    <p style="color: rgb(17, 241, 17);font-weight: bold;">Accepted</p>
</div>
<div class="text-center mb-3" *ngIf="error">
    <p style="color: rgb(250, 87, 87);font-weight: bold;">Wrong Answer</p>
</div>
<div id="editor" #editor class="mt-3" style="height: 440px;width: 60%;margin-left: 20%;border: 2px solid black;"></div>
<div class="text-center mt-3">
    <button class="btn btn-danger" (click)="showValue()">Submit Code</button>
</div>